@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: 0px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --header: rgb(41, 41, 41);
    --container-menu: rgb(27, 27, 27);
    --menu-burguer: white;
    --menu-x: rgb(133, 31, 31);
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--container-menu);
}

header {
    height: 70px;
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1 {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 5px black;
}

div.container-menu {
    height: 70px;
    background-color: var(--container-menu);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input#imenu {
    position: absolute;
    opacity: 0;
}

div.container-menu > label {
    position: absolute;
    cursor: pointer;
    height: 21px;
    width: 30px;
}

div.container-menu > label span {
    position: absolute;
    height: 3px;
    width: 30px;
    border: 2px solid var(--menu-burguer);
    border-radius: 40px;
}

label span:nth-child(1) {top: 0px;}

label span:nth-child(2) {top: 8px;}

label span:nth-child(3) {top: 16px;}

.container-menu>#imenu:checked+label span:nth-child(1) {animation: show-span1 1.1s ease-in-out forwards;}
.container-menu>#imenu:not(:checked)+label span:nth-child(1) {animation: hide-span1 1.3s ease-in-out forwards;}

.container-menu>#imenu:checked+label span:nth-child(2) {animation: show-span2 1.1s ease-in-out forwards;}
.container-menu>#imenu:not(:checked)+label span:nth-child(2) {animation: hide-span2 1.3s ease-in-out forwards;}

.container-menu>#imenu:checked+label span:nth-child(3) {animation: show-span3 1.1s ease-in-out forwards;}
.container-menu>#imenu:not(:checked)+label span:nth-child(3) {animation: hide-span3 1.3s ease-in-out forwards;}

@keyframes show-span1 {
    30% {
        top: 8px;
        border-color: var(--menu-burguer);
        transform: rotate(0deg);
    }

    100% {
        top: -12px;
        transform: rotate(-45deg);
        border-color: var(--menu-x);
    }
}
@keyframes hide-span1 {
    0% {
        top: -12px;
        transform: rotate(-45deg);
        border-color: var(--menu-x);
    }

    30% {
        top: 8px;
        transform: rotate(0deg);
        border-color: var(--menu-x);
    }

    100% {
        top: 0px;
        border-color: var(--menu-burguer);
    }
}

@keyframes show-span2 {
    30% {
        display: none;
        border-color: var(--menu-burguer);
    }

    100% {
        display: none;
        border-color: var(--menu-x);
    }
}
@keyframes hide-span2 {
    0% {
        opacity: 0;
        border-color: var(--menu-x);
    }

    30% {
        display: block;
        border-color: var(--menu-x);
    }

    100% {
        display: block;
        border-color: var(--menu-burguer);
    }
}

@keyframes show-span3 {
    30% {
        top: 8px;
        transform: rotate(0deg);
        border-color: var(--menu-burguer);
    }

    100% {
        top: -12px;
        transform: rotate(45deg);
        border-color: var(--menu-x);
    }
}
@keyframes hide-span3 {
    0% {
        top: -12px;
        transform: rotate(45deg);
        border-color: var(--menu-x);
    }

    30% {
        top: 8px;
        transform: rotate(0deg);
        border-color: var(--menu-x);
    }

    100% {
        top: 16px;
        border-color: var(--menu-burguer);
    }
}

.container-menu > nav {
    background-color: var(--container-menu);
    z-index: -1;
    position: absolute;
    top: 110px;
}

.container-menu > nav a {
    color: white;
    font-size: 0.9em;
    transition: font-size 0.2s ease-in-out;
}

.container-menu > nav a:hover {
    font-size: 1.04em;
}

#imenu:checked ~ nav {animation: show-nav 1.18s ease-in-out forwards;}
#imenu:not(:checked) ~ nav {animation: hide-nav 0.4s ease-in-out forwards;}

@keyframes show-nav {
    0% {
        z-index: -1;
        opacity: 0;
    }

    30% {
        z-index: 1;
    }

    100% {
        top: 100px;
        z-index: 1;
        opacity: 1;
    }
}
@keyframes hide-nav {
    0% {
        top: 100px;
        z-index: 1;
        opacity: 1;
    }

    100% {
        z-index: -1;
        opacity: 0;
    }
}

article {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

section h2 {
    font-size: 1.6em;
    text-align: center;
    padding-bottom: 20px;
}

section p {
    text-indent: 30px;
    text-align: justify;
    padding: 3px;
}

@media screen and (min-width: 768px) {
    section {
        display: flex;
        justify-content: center;
    }
    
    article::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        background-image: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,#ffff00, #00ff00, #0099ff);
        background-size: 300%;
        filter: blur(5px);
        animation: border 8s linear infinite;
    }
    
    @keyframes border {
        0% {
            background-position: 0%;
        }
    
        100% {
            background-position: 300%;
        }
    }
}