@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: 0px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(../imagens/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#cell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 80vh;
    background: url(../imagens/frame-iphone.png) center center no-repeat;
    background-size: contain;
}

#frame {
    height: 59.6vh;
    position: absolute;
    top: 50.5%;
    left: 50.1%;
    transform: translate(-50%, -50%);
}

section#midias {
    display: flex;
    justify-content: flex-end;
    width: 98vw;
    height: 100vh;
}

section#midias>div {
    width: 56px;
    height: 56px;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    box-shadow: 2px 2px 8px black;
    transition: width 0.2s ease-out, height 0.2s ease-out;
}

div.home {
    background: url(../imagens/logo-home.jpg)  no-repeat;
    top: 10px;
}

div.youtube {
    background: url(../imagens/logo-youtube.jpg) no-repeat;
    top: 90px;
}

div.github {
    background: url(../imagens/logo-github.jpg) no-repeat;
    top: 170px;
}

div.instagram {
    background: url(../imagens/logo-instagram.jpg) no-repeat;
    top: 250px;
}

div.x {
    background: url(../imagens/logo-twitter.jpg) no-repeat;
    top: 330px;
}

div.facebook {
    background: url(../imagens/logo-facebook.jpg) no-repeat;
    top: 410px;
}

section#midias>div:hover {
    width: 60px;
    height: 60px;
}